
@font-face {
    font-family: norwester;
    src: url(../fonts/norwester-v1.2/norwester.otf);
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Anonymous Pro', monospace;
}

#header {
    height: 100vh;
    margin: 0;
    position: relative;
}

.header-content {
    background-color: #146481;
    color: white;
    height: 100%;
    position: relative;
}

.tech-content {
    background-color: #666666;
    color: white;
    height: 100%;
    position: relative;
}

.name {
    font-size: 6em;
    text-align: center;
    font-family: norwester;
}

.description {
    text-align: center;
}

.title-intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a.header-links {
    color: white;
}

#about, #contact {
    height: 100vh;
    margin: 0;
    position: relative;
}

#profile {
    background-image: url(../images/Profile.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;;
}

.about-content, .contact-content {
    background-color: white;
    color:black;
    height: 100%;
}

.about-intro, .contact-intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

a.body-links {
    color: black;
}

 .about-description, .contact-description {
    position: relative;
    height: 100%;
    background-color: #146481;
    color: white;
} 
  
.about-text, .tech-text {
    text-align: justify;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
    padding: 0 10vh;
    overflow: auto;
}    

.contact-text {
    
}

.contact-items {
    text-align: center;
}

.indent {
    text-indent: 50px;
}

.second-nav {
    margin: 0;
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    left: 25%;
    transform: translate(-50%, -50%);
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

.body-links {
    padding: 0 5px;
}

.tech-intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tech-second-nav {
    margin: 0;
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, -50%);
}

a.tech-links {
    color: white;
}

.tech-description {
    position: relative;
    height: 100%;
    background-color: white;
    color: black;
    overflow-y: auto;
}   

.tech-icons {
    padding: 8vh;
    text-align: center;
}

.tech-svg {
    width: 100px;
    margin: 25px;
}

/* Mobile Broswer View */

@media (max-width: 600px) {
    .about-intro, .tech-intro, .contact-intro {
        margin: 0;
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .second-nav {
        margin: 0;
        position: absolute;
        bottom: 5%;
        display: flex;
        flex-direction: row;
        top: 187.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}