<section id="about" class="row">
    <div class="about-content container col m6 s12">
        <div class="about-intro">
            <h3 class="name">ABOUT</h3>
            <p class="description">ADAM REIDELBACH</p>
        </div>
        <ul class="">
            <li><a href="#about" class="page-scroll body-links ">About</a></li>
            <li><a href="#tech" class="page-scroll body-links ">Technologies</a></li>
            <li><a href="#projects" class="page-scroll body-links ">Projects</a></li>
            <li><a href="#contact" class="page-scroll body-links ">Contact</a></li>
        </ul>
    </div>
    <div class="about-description col m6 s12">
        <div class="about-text">
            <p>Spicy jalapeno bacon ipsum dolor amet cupidatat leberkas irure eu ut cupim elit tenderloin. Salami pariatur tongue tri-tip pork, short ribs sausage adipisicing veniam burgdoggen nisi corned beef. T-bone et chuck ground round sirloin ullamco in ham spare ribs pariatur officia. Shankle rump esse filet mignon. Tenderloin t-bone pork loin incididunt short ribs. Drumstick cow tenderloin laborum ham hock aute mollit, nulla picanha ground round. Frankfurter quis cupidatat kielbasa landjaeger ut capicola exercitation beef fugiat non pastrami.</p>
            <p>Andouille hamburger ullamco filet mignon venison reprehenderit tenderloin sirloin pancetta in spare ribs corned beef. T-bone chicken kielbasa, ut venison ea corned beef nostrud anim dolore commodo meatball bacon laboris dolore. Irure alcatra sed capicola. Brisket sausage t-bone elit eu. Sirloin nostrud occaecat id, picanha fatback cow labore eu laborum. Proident aute hamburger fugiat pancetta labore boudin swine do. Magna aute pig picanha bresaola</p>
            <p><a href="#">View my resume</a></p>
        </div>
    </div>
</section>