<section id="contact" class="row">
    <div class="contact-content container col m6 s12">
        <div class="contact-intro">
            <h3 class="name">CONTACT</h3>
            <p class="description">ADAM REIDELBACH</p>
        </div>
        <ul class="second-nav">
            <li><a href="#about.html" class="page-scroll body-links ">About</a></li>
            <li><a href="#tech" class="page-scroll body-links ">Technologies</a></li>
            <li><a href="#projects" class="page-scroll body-links ">Projects</a></li>
            <li><a href="#contact" class="page-scroll body-links ">Contact</a></li>
        </ul>
    </div>
    <div class="contact-description col m6 s12">
        <div class="contact-text">
            <h3 class="contact-items">CONNECT WITH ME:</h3>
            <p class="contact-items">adamreidelbach@gmail.com</p>
            <p class="contact-items">linkedin.com/in/adamreidelbach/</p>
            <p class="contact-items">https://github.com/adamreidelbach/</p>
        </div>
    </div>
</section>