<section id="projects" class="row col m6 s12">
    <div class="projects-description">
        <div class="project-intro">
            <h3 class="proj-name col s12">PROJECTS</h3>
        </div>
        <div class="proj-image-area">
            <a data-target='modal1' modal>
                <img class="proj-image1 col m6 s12">
            </a>
            <a data-target='modal2' modal>
                <img class="proj-image2 col m6 s12">
            </a> 
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Modal header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</section>