<section class="row col l6 s12">
    <div id="projects">
        <div class="projects-content">
            <div class="project-intro">
                <h3 class="proj-name col s12">PROJECTS</h3>
            </div>
            <div class="proj-image-area">
                <a data-target='modal1' modal>
                    <div class="modal-container">
                        <img class="proj-image1 col l6 s12">
                        <div class="overlay1">
                            <div class="hover-text">
                                <h3>Get Git</h3>
                                <p>A Beginner's Guide To Git</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a data-target='modal2' modal>
                    <div class="modal-container">
                        <img class="proj-image2 col l6 s12">
                        <div class="overlay2">
                            <div class="hover-text">
                                <h3>Podcast Finder</h3>
                                <p>Discover Something New</p>
                            </div>
                        </div>
                    </div>
                </a> 
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Get Git</h4>
                <p>Get Git is an application built in AngularJS that helps new developers effectively and efficiently learn to use git. Users are tasked with completing common git scenarios developers encounter on a daily basis. Each section provides step by step instructions, a virtual terminal to input commands, and a visual representation of commands as they are entered.</p>
                <p>Technologies: AngularJS, JavaScript, JQuery, Materialize, Angular-Materialize and Sass.</p>
                <p class="center"><a href="https://adamreidelbach.github.io/Capstone-Front-End/" class="modal-link">View the project</a></p>
                <p class="center"><a href="https://github.com/adamreidelbach/Capstone-Front-End" class="modal-link">View the repo</a></p>
            </div>
            <div class="modal-footer">
                <a href="#!/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Podcast Finder</h4>
                <p>Podcast Finder allows users to query the Otto Radio API to search for podcasts. It is built using JavaScript, JQuery, Browserify, Bootstrap and Sass. View the repo at github.com/adamreidelbach/podcastFinder</p>
                <p class="center"><a href="https://adamreidelbach.github.io/podcastFinder/" class="modal-link">View the project</a></p>
                <p class="center"><a href="https://github.com/adamreidelbach/podcastFinder" class="modal-link">View the repo</a></p>
            </div>
            <div class="modal-footer">
                <a href="#!/projects" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
</section>